#daily-header {
	overflow: hidden;
	h1, .actions {
		float: left;
	}
	.actions {
		margin-top: 6px;
		margin-left: 10px;
	}
}

.user-photo-default {
	width: 24px;
	height: 24px;
	background: #999;
	i {
		margin: 5px;
	}
}

#users-daily-wrapper {
	overflow: hidden;
}

#usersList {
	width: 100%;
}
.program {
	display: block;
	width: 300px;
	float: left;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	@include border-radius(5px);
	@include single-box-shadow(#eee, 1px, 1px, 5px);
}

.user-program-header {
	overflow: hidden;
	padding: 8px;
	@include border-top-radius(5px);
	@include background-image(linear-gradient(#fcfcfc, #ccc));
	border-top: 1px solid #fff;
	border-bottom: 1px solid #999;
	h3 {
		float: left;
		margin-left: 10px;
		a {
			text-shadow: 0px 1px 1px #fff;
			color: #08c;
		}
	}
	.user-program-remove {
		float: right;
		margin: 4px;
	}
}


.user-program-body {
	border-top: 2px solid #ddd;
	.table {
		margin-bottom: 0;
		th {
			font-size: 12px;
			font-weight: normal;
			color: #999;
		}
		td {
			font-size: 14px;
			a:hover {
				text-decoration: none;
			}
		}
		a[rel=popover] {
			font-weight: bold;
			color: #000;
		}
	}
}
.user-program-actions {
	width: 35px;
}
.user-program-photo {
	float: left;
	width: 24px;
	height: 24px;
	border: 1px solid #fff;
	@include single-box-shadow(#aaa, 1px, 1px, 3px);
}

.user-program-footer {
	padding: 4px 5px;
	@include border-bottom-radius(5px);
	border-top: 1px solid #999;
	text-align: center;
	@include background-image(linear-gradient(#aaa, #eee));
}

.dd-hover {
	cursor: pointer;
	background: #eee;
}

dd.last-update, li.last-update {
	background: #DFF0D8;
}
.table-striped tbody tr.last-update {
	td {
		background: #DFF0D8;
	}
}

.training-plan {
	margin-bottom: 20px;
	border: 1px solid #ccc;
	@include border-radius(5px);
	@include single-box-shadow(#eee, 1px, 1px, 5px);
}
.training-plan-header {
	overflow: hidden;
	padding: 8px;
	@include border-top-radius(5px);
	@include background-image(linear-gradient(#fcfcfc, #ccc));
	border-top: 1px solid #fff;
	border-bottom: 1px solid #aaa;
	h3 {
		float: left;
		margin-left: 5px;
		a {
			text-shadow: 0px 1px 1px #fff;
			color: #08c;
		}
	}
	.training-plan-toggle {
		float: right;
		margin: 4px;
	}
}
.training-plan-body {
	border-top: 2px solid #ddd;
	.table {
		margin-bottom: 0;
		th {
			font-size: 12px;
			font-weight: normal;
			color: #999;
		}
		td {
			font-size: 14px;
			a:hover {
				text-decoration: none;
			}
			&:first-child {
				width: 100%;
			}
			&:last-child {
				white-space: nowrap;
			}
		}
		a[rel=popover] {
			color: #000;
			font-weight: bold;
		}
	}
}

.training-plan-exercises {
	margin-bottom: 18px;
	li {
		padding: 4px;
	}
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #eee;
}